ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #c5c5c5;
  }
  li a {
    display: block;
    color: #000;
    padding: 30px 16px;
    text-decoration: none;
    width: auto;
    text-align: center;
    font-size: 30px;
  }


  li a:hover {
    background-color: #4797ff;
    color: #fff;
  }
  .icon {
    margin-right: 10px;
  }

  .sidebar {
    height: 130%;
    width: 15%;
    position: absolute;
    top: 130px;
    left: 0;
    background-color: #c5c5c5;
    padding: 20px;
    margin-top: auto;
    background-color: var(--body-background-color);
    
    }
    .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #c5c5c5;
    background-color: var(--body-background-color);
    }
    .sidebar li {
    margin-bottom: 10px;
    background-color: #c5c5c5;
    background-color: var(--body-background-color);
    
    }
    .sidebar a {
    color: #333;
    color: var(--body-color);
    text-decoration: none;
    background-color: #c5c5c5;
    background-color: var(--body-background-color);
    }


    