*
{
  font-family: Oswald !important;
  src: url(\src\assets\fonts\Oswald-Light.ttf)

}
body
{
  background-color: #e7e7e7;
  margin: 0;
}

:root
{
  --mdc-typography-body2-font-size: 16px;
  --mdc-typography-subtitle2-font-size: 24px;
}

