*
{
  font-family: Oswald !important;
  src: url(\src\assets\fonts\Oswald-Light.ttf)

}
body
{
  background-color: var(--body-background-color);
  background-color: var(--main-background-color);
  color: var(--body-color);
  margin: 0;
}

th 
{
    background-color: #dadada;
    background-color: var(--th-background-color);
} 
  
tr:nth-child(odd) 
{
    background-color: #CCC;
    background-color: var(--tr1=-background-color);
}
  
tr:nth-child(even) 
{
    background-color: #EFEFEF;
    background-color: var(--tr2-background-color);
}

.light-theme
{
  --mdc-typography-body2-font-size: 16px;
  --mdc-typography-subtitle2-font-size: 24px;
  --body-background-color: #e7e7e7;
  --body-color: black;
  --th-background-color: #dadada;
  --tr1-background-color: #CCC;
  --tr2-background-color: #EFEFEF;;
}

.dark-theme
{
  --mdc-typography-body2-font-size: 16px;
  --mdc-typography-subtitle2-font-size: 24px;
  --body-background-color: #434343;
  --body-color: white;
  --main-background-color: #555555;
  --th-background-color: #000000;
  --tr1-background-color: #131313;
  --tr2-background-color: #303030;
}


