nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #c5c5c5;

  }

  
  .logo {
    display: flex;
    align-items: center;
  }
  .logo img {
    height: 50px;
    margin-right: 10px;
  }
  .user {
    display: flex;
    align-items: center;
  }
  .user img {
    height: 40px;
    border-radius: 10px;
}
.user p {
margin-left: 10px;
margin-top: 10px;
font-size: 22px;

}

h1
{
  font-size: 30px;
  margin-top: 15px;
}

.darkMode
{
  padding: 0;
  margin-left: 50%;
  margin-bottom: 15px;
  font-size: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 11px;
  margin: 0 5px;
}
.switch input { 
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:  rgba(0, 0, 0, 0.5);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color:white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4797ff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}