table
{
    position: relative;
    font-size: 30px;

}
h1
{
    color: #4797ff;
    font-size: 50px;
    padding: 10px;
}
th
{
    color: #4797ff;
    border-color: #4797ff;
    text-align: center;
}
td
{
    text-align: center;
}

th 
{
    background-color: #dadada;
    background-color: var(--th-background-color);
} 
  
tr:nth-child(odd) 
{
    background-color: #CCC;
    background-color: var(--tr1-background-color);
}
  
tr:nth-child(even) 
{
    background-color: #EFEFEF;
    background-color: var(--tr2-background-color);
}